<div class="nav_bar">
  <div class="nav_heading">
    <h1>My Space</h1>
  </div>

  <%= link_to root_path, class: "dashboard-links" do %>
  <div class="nav-item new-card-style page">
    <i class="bi bi-house nav_icon"></i><p>Home</p>
  </div>
  <% end %>

  <%= link_to tasks_path, class: "dashboard-links" do %>
  <div class="nav-item new-card-style page ">
    <i class="bi bi-card-text nav_icon"></i><p>Tasks</p>
  </div>
  <% end %>

  <%= link_to lists_path, class: "dashboard-links" do %>
  <div class="nav-item new-card-style page">
    <i class="bi bi-list-task nav_icon"></i><p>Lists</p>
  </div>
  <% end %>

<%= link_to habit_trackers_path, class: "dashboard-links" do %>
  <div class="nav-item new-card-style page">
    <i class="bi bi-bar-chart nav_icon"></i><p>habit Tracker</p>
  </div>
<% end %>

  <div class="nav-item new-card-style page">
    <i class="bi bi-moon nav_icon"></i><p>Sleep mode</p>
  </div>


</div>


<div class="recent_tasks your-lists">
  <i class="bi bi-journal-text nav_icon"></i>
  <h2>Your lists</h2>
  <div class="add_task new-card-style">
    <p type="button" class="btn" id="btn" data-bs-toggle="modal" data-bs-target="#addListModal">
      Add list
    </p>
  </div>
</div>

<div class="lists">
  <% @lists.each do |list| %>
    <div class="listBanner">
      <div class="list new-card-style-no-center" data-bs-toggle="collapse" href="#collapselist_<%= list.id %>" role="button" aria-expanded="false" aria-controls="collapseExamplecollapselist_<%= list.id %>" >
        <div class="listname">
          <i class="bi bi-caret-right"></i>
            <h4><%= list.name %></h4>
        </div>
        <div class="listActions">
          <i class="bi bi-plus-lg" data-bs-toggle="modal" data-bs-target="#addListItemModal_<%= list.id%>"></i>
          <i class="bi bi-pencil pencil" data-bs-toggle="modal" data-bs-target="#updateListModal_<%= list.id%>"></i>
          <i class="bi bi-trash trash"></i>

        </div>
      </div>
       <div class="collapse collapse-list-item" id="collapselist_<%= list.id %>">
          <div class="card card-body list new-card-style-no-center collapsed" id="space-left">
            <ul>
              <% list.list_items.each do |item| %>
              <li>
                <p><%= item.description %></p>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
    </div>

    <!--  modal for updating list -->
    <div class="modal fade" id="updateListModal_<%= list.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="taskheader">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Update list</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <%= simple_form_for list, url: list_path(list), method: :patch do |f| %>
            <div class="modal-body" id="updateTask">
              <%= f.input :name, label: false, placeholder: "Name of list..." %>
              <%= f.input :status, as: :select, collection: ['Incomplete', 'Complete'], label: false, prompt: "Select status.." %>
            </div>
            <div class="modalfooter" id="footerUpdate">
              <%= f.button :submit, "Save" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- end-->


    <!-- modal for adding a list item -->
    <div class="modal fade" id="addListItemModal_<%= list.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="taskheader">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add list item</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <%= simple_form_for ([list, ListItem.new]) do |f| %>
            <div class="modal-body" id="updateTask">
              <%= f.input :description, label: false, placeholder: "Name of list item..." %>
              <%= f.input :status, as: :select, collection: ['Incomplete', 'Complete'], label: false, prompt: "Select status.." %>
            </div>
            <div class="modalfooter" id="footerUpdate">
              <%= f.button :submit, "Save" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- end-->
  <% end %>
</div>

<!-- Modal for adding a new list -->
<div class="modal fade" id="addListModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="taskheader">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Busy day?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= simple_form_for @list , url: lists_path do |f| %>
        <div class="modal-body" id="updateTask">
          <%= f.input :name, label: false, placeholder: "Name of list..." %>
          <%= f.input :status, as: :select, collection: ['Incomplete', 'Complete'], label: false, prompt: "Select status.." %>
        </div>
        <div class="modalfooter" id="footerUpdate">
          <%= f.button :submit %>
        </div>

      <% end %>
    </div>
  </div>
</div>

<!-- end-->
