<div class="recent_tasks your-lists">
  <i class="bi bi-journal-text nav_icon"></i>
  <h2>Habit Tracker</h2>
</div>
<div class="heading-sub">
  <p>Build better habits, one day at a time
</p>
</div>

<div class="habit-stats">

  <div class="habit-stat stat-card new-card-style">
    <h4>Today's progress</h4>
    <h5><%= @total_habit_items_today %>/<%= @total_habit_items %></h5>
  </div>

  <div class="habit-stat stat-card new-card-style">
    <h4>Total Habits</h4>
    <h5><%= @total_habit_items %></h5>
  </div>

  <div class="habit-stat stat-card new-card-style">
    <h4>Total streaks</h4>
    <h5><%= @total_streaks_above_two %></h5>
  </div>

  <div class="habit-stat stat-card new-card-style">
    <h4>Completion rate</h4>
    <h5><%= ((@total_habit_items_today.to_f / @total_habit_items) *100).round%>%</h5>
  </div>

</div>

<div class="recent_tasks your-lists">
  <i class="bi bi-journal-text nav_icon"></i>
  <h3>Your Habit Groups</h3>
  <div class="add_task new-card-style">
    <p type="button" class="btn" id="btn" data-bs-toggle="modal" data-bs-target="#addListModal">
      Add group
    </p>
  </div>
</div>

<div class="habit-cards">
  <% @habits.each do |habit| %>
    <div class="habit-card new-card-style">
      <div class="habit-top-heading">
        <div class="habit-card-title">
          <i class="bi bi-dot habit-dot-status"></i>
          <h2><%= habit.name %></h2>
        </div>
        <div class="add-habit-button">
          <i class="bi bi-plus" id="add-habit-status-icon" data-bs-toggle="modal" data-bs-target="#addHabitModal_<%= habit.id %>"></i>
        </div>
      </div>
      <div class="progess-habit-container">
        <div class="progress" id="habit-bar">
          <div class="progress-bar" role="progressbar" style="width:<%= habit.today_progress_percent %>%" aria-valuenow="<%= habit.today_progress_percent %>" aria-valuemin="0" aria-valuemax="100"><%= habit.today_progress_percent %>%</div>
        </div>
      </div>
      <div class="habit_items_container">
        <% habit.habit_items.each do |habit_item| %>
          <%= turbo_frame_tag "habit_item_#{habit_item.id}", class: "turbo-frame-habit", autoscroll: false do %>
            <%= render partial: "habit_trackers/habit_item", locals: { habit_item: habit_item } %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%# modal for habit item add %>
    <div class="modal fade" id="addHabitModal_<%= habit.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="taskheader">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add new Habit</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <%= simple_form_for([habit, HabitItem.new]) do |f| %>
            <div class="modal-body" id="updateTask">
              <%= f.input :name, label: false, placeholder: "Habit..." %>

            </div>
            <div class="modalfooter" id="footerUpdate">
              <%= f.button :submit %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%# modal end %>
  <% end %>
</div>
