<div class="dashboard_nav">
  <h1>Good morning <%= @user_name %> ☀️</h1>
  <div class="dash_icons">
    <i class="bi bi-chat-left-dots"></i>
    <i class="bi bi-bell"></i>
     <div class="dropdown" style="display: inline;">
        <i class="bi bi-person-circle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %></li>
          <li><%= link_to "Logout", destroy_user_session_path, class: "dropdown-item", data: { turbo: false } %></li>
        </ul>
      </div>
  </div>
</div>

<div class="home-container">
  <div class="banner">
    <p>Your Personal Productivity Companion</p>
    <h1> Stay organized, stay productive</h1>
    <p>With ClickUp, you can manage your tasks, track your habits, and boost your productivity all in one place.</p>
    <div class="home-buttons">
      <%= link_to "Start planning today", tasks_path, class: "btn btn-primary" %>
      <%= link_to "Track your habits", habit_trackers_path, class: "btn btn-secondary" %>
    </div>
  </div>

  <div class="home-cards">
    <div class="card">
      <h2>Organize Tasks</h2>
      <p>Organize your day with intelligent task scheduling and time management</p>
      <%= link_to "View Tasks", tasks_path, class: "btn btn-primary" %>
    </div>

    <div class="card">
      <h2>Track Habits</h2>
      <p>Build lasting habits with visual progress tracking and streak counters</p>
      <%= link_to "View Habits", habit_trackers_path, class: "btn btn-secondary" %>
    </div>

    <div class="card">
      <h2>Make lists</h2>
      <p>Compile lists, set priorities, and keep track of your lists effortlessly.</p>
      <%= link_to "View Lists", lists_path, class: "btn btn-tertiary" %>
    </div>

  </div>

</div>
