<!DOCTYPE html>
<html>
  <head>
    <title>Clickup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

  </head>

  <body>
    <%= render "shared/flashes" %>
    <div class="nav_bar">
  <div class="nav_heading">
    <h1>My Space</h1>
  </div>

  <%= link_to root_path, class: "dashboard-links" do %>
  <div class="nav-item">
    <i class="bi bi-house nav_icon"></i><p>Dashboard</p>
  </div>
  <% end %>

  <div class="nav-item">
    <i class="bi bi-card-text nav_icon"></i><p>Tasks</p>
  </div>

  <%= link_to lists_path, class: "dashboard-links" do %>
  <div class="nav-item">
    <i class="bi bi-list-task nav_icon"></i><p>Lists</p>
  </div>
  <% end %>

  <div class="nav-item">
    <i class="bi bi-newspaper nav_icon"></i><p>Projects</p>
  </div>

  <div class="nav-item">
    <i class="bi bi-chat-left-dots nav_icon"></i><p>Messages</p>
  </div>

  <div class="nav-item">
    <i class="bi bi-moon nav_icon"></i><p>Sleep mode</p>
  </div>

</div>

    <%= yield %>
  </body>
</html>
